 
body{
  margin: 0;
}

.list{  
    background-color: #001124;    
    min-width: 100vh;
    height: 100vh;         
}
.bloc_tit{      
    display: flex;
    justify-content: flex-start; 
    align-items: stretch;    
}
.one{
  margin-top: 6%;  
  width: 100%;  
}
.bloc_tit_left{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.bloc_tit_right{
  width: 50%;
  display: flex;  
  align-items: center;
  justify-content: center;
}
.title_form{
  font-size: 2.4rem;
}
.imput{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imput * {
  width: 75%;
}
.imput form{
    color: #FFFFFF;      
}
.imput p{
  color: #FFFFFF; 
  font-size: .7rem;     
}
.imput input{
  border: 1px solid #ADADAD;
  border-radius: 4px;
  width: 65%;
  height: 25px;    
}
.form a{
  color: #499FFE;  
  text-decoration: none;  
}
.btn_tityl{
   width: 25%; 
   height: 20px; 
   background-color: #015FC7;
   display: flex;
   justify-content: center;
   align-items: center;   
  }
  .form > a{
    font-size: 0.7rem;
  }
  .btn_tityl > a{
    color: #FFFFFF;
    font-size: 0.6rem;
    text-decoration: none;
    text-align: center;
  }
  
  /* form*/

  body{
    margin: 0;
    width: 100vh;
    height: 100vh;
  }
  .bloc{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10%;    
  }
  .bloc_figure{
    width: 35%;   
  }
  .figure{
    width: 100%;
    padding-left: 10%;
  }
  .imput2{
    width: 55%; 
    padding-left: 15%;
       
  }
  .title{
    font-size: 1.8rem;
  }
  .input2 label{
    font-size: 0.7rem;
    margin: 1%;
  }
  .imput2 * {    
    width: 90%;
    color: #FFFFFF;       
}
  .imput2 input{
  border: 1px solid #ADADAD;
  border-radius: 4px;
  width: 65%;
  height: 25px;    
}
.imput_form{
 display: flex;
 align-items: center;
 justify-content: center;
}
.btn_tity2{
  width: 25%; 
  height: 20px; 
  background-color: #015FC7;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 4%;
}
.btn_tity2 a{
  color: #FFFFFF;
  font-size: 0.6rem;
  text-decoration: none;
  text-align: center;
} 
.form imput, label{
  display: flex;
}

/*registration*/

.body{
  margin: 0;
  width: 100vh;
  height: 100vh;   
}
.border{
 height: 100%; 
 padding-left: 5%;  
}
.header{
  height: 15vh;  
}
.header h1{    
    font-size: 2rem;
}
.header p{
  font-size: 1rem;
}
.header h2{
  font-size: 1.5rem;
}

main{
  height: 85vh;
  margin: 0;
}
.bloc_registration{ 
 display: flex;
 justify-content: space-between; 
 align-items: center;     
}
.bloc_registration select{
    border: 1px solid #ADADAD;
    border-radius: 4px;
    width: 100%;
    height: 30px;    
}
.bloc_registration input{
  border: 1px solid #ADADAD;
  border-radius: 4px;
  width: 100%;
  height: 35px;  
}
.bloc_registration option{
  font-size: 1rem;
}
.bloc_registration label{
  font-size: 1rem;  
}
.bloc_registration p{
  margin: 2%;
  font-size: 1rem;
}
.bloc_left{
  width: 45%;
}
.bloc_right{
  width: 45%;
}

.text_blue{
    color: #0050D8;
}
input[type="checkbox"]{   
    height: 40px;
}
input[type="checkbox"]:checked{
accent-color: #FF00FF;
}
.btn_footer{
    width: 75px; 
    height: 35px; 
    background-color: #015FC7;
    border-radius: 5px;
    padding: 10px 0px 0px 28px;
    margin-top: 50px; 
    margin-left: 630px;
  }
  .chec input{
  width: 10%;
  margin-left: 0;
  }
  .chec{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2%;
  }
  .btn_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;   
  }
  .btn_footer a{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;   
  } 


