@keyframes img-show-left-one{
    from{
        transform: translateX(-100vh);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes img-show-rignt-one{
    from{
        transform: translateX(100vh);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes img-show-left-two{
    from{
        transform: translateX(-100vh);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes img-show-rignt-two{
    from{
        transform: translateX(100vh);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes img-show-one{
    from{
        top: 100%;
        left: -13%;
    }
    25%{
        top: 100%;
        left: 20%;
    }
    50%{
        top: 135%;
        left: 20%;  
    }
    75%{
        top: 135%;
        left: -13%;
    }
    to{
        top: 100%;
        left: -13%;
    }
}
@keyframes img-show-two{
    from{
        top: 100%;
        left: 20%;
    }
    25%{
        top: 135%;
        left: 20%;
    }
    50%{
        top: 135%;
        left: -13%;  
    }
    75%{
        top: 100%;
        left: -13%;
    }
    to{
        top: 100%;
        left: 20%;
    }
}
@keyframes img-show-three{
    from{
        top: 135%;
        left: 20%;
    }
    25%{
        top: 135%;
        left: -13%;
    }
    50%{
        top: 100%;
        left: -13%;  
    }
    75%{
        top: 100%;
        left: 20%;
    }
    to{
        top: 135%;
        left: 20%;
    }
}
@keyframes img-show-four{
    from{
        top: 135%;
        left: -13%;
    }
    25%{
        top: 100%;
        left: -13%; 
    }
    50%{
        top: 100%;
        left: 20%;  
    }
    75%{
        top: 135%;
        left: 20%;
    }
    to{
        top: 135%;
        left: -13%;
    }
}