@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@600;700&display=swap');
@import url(../style/animation.css);
 :root{
   font-size: 10px;
 }
 body{ 
   margin: 0 auto;
   max-width: 1920px;
   font-family: Rosario, serif;
   background-color: #E5E5E5;
}   
  header{     
  position: sticky;
  top: 0;
   background-color:  #000000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   z-index: 10;
    }
    header .logo{
      align-self: stretch;
    }
    header .logo img{
      height: 100%;
      background-color: #FFFFFF;
    }
    .nav{
      display: flex;
      list-style: none;
      width: 60%;
      justify-content: space-between;
      margin: 0;
      padding: 0; 
      margin-right: 2rem;
    }
    .nav a{ 
      color: white;
      text-decoration: none;
      font-size: 3.6rem;
    }
    /* size 36px*/

/*screen 1*/

.screen_Gallery{
   min-height: 90vh;   
   box-sizing: border-box;
   overflow: hidden;
}
 .box{
   display: flex;
   height: 90vh;
   justify-content: space-around;
}

.left-one, .rignt-one{
   height: 70%;
   align-self: self-end;
   margin: 0;
   
}
.left-one{
   transform: translateY(-100vh);
   animation: img-show-left-one 2.5s linear 1 forwards;
}
.rignt-one{
   transform: rotateZ(100vh);
   animation: img-show-rignt-one 2.5s linear 1 forwards;
}
.left-two > div, .rignt-two > div{
   height: 40%;
}
.left-two, .rignt-two{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;      
} 
.left-two{
   transform: translateY(-100vh);
   animation: img-show-left-two 1s linear 1 forwards;  
}
.rignt-two{
   transform: rotateZ(100vh);
   animation: img-show-rignt-two 1s linear 1 forwards;  
}

 .left-two img:first-child, .rignt-two img:first-child{  
   margin-bottom: 3.5rem;   
 }

 /*screen 2*/

 .screen_Services{ 
   display: flex; 
   align-items: center; 
   justify-content: space-around;
   min-height: 90vh;   
   box-sizing: border-box;
   overflow: hidden;
 } 
 .ellipse-left{
   width: 60%;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   
 }
 .ellipse-left > div{
   height: 45%;
   width: 45%;
   box-sizing: border-box;
   margin: 70px 0;
   text-align: center;   
  position: absolute;   
 }
 .ellipse-left > div b{
  font-size: 4.8rem;
 }
  .right{
   width: 40%;
   margin-right: 25px;
 }
 
 .right > img{
  width: 100%;
   
 }
 .one, .two, .four, .three{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   display: flex;
   flex-direction: column;
 }
 .one{
  
  top: 100%;
  left: -13%;
  animation: img-show-one 10s linear infinite;
 }
 .two{
  
  top: 100%;
  left: 20%;
  animation: img-show-two 10s linear infinite;
 } 
 .three{
  
  top: 135%;
  left: 20%;
  animation: img-show-three 10s linear infinite;
 }
 .four{
  
  top: 135%;
  left: -13%;
  animation: img-show-four 10s linear infinite;
 }
 
 /*screen 3*/

 .screen_Team{  
  min-height: 90vh;   
 
 }
 .screen_Team h1{
  font-size: 9.6rem;
  height: 10vh;
  text-align: center;
 } 
 .section{
  display: flex;
  justify-content: space-around;
  height: 80vh;
 }
 .section > div{
 border-radius: 20px;
 height: 23%;
 position: relative; 
 }
 .section:hover > div{
  filter: brightness(.6); 
 }
 .section > div:hover{
  filter: none;  
 }
 
 .name{
 height: 0%;
 width: 100%; 
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
 background-color: #A3530A;
 position: absolute;
 top: 160%;
 overflow: hidden;
 transition: height 1s;
 }
 .name p{
  font-size: 4.8rem;
  text-align: center;
  margin-top: 5%; 
 }
 .section > div:hover .name{
  height: 35%;
 } 


/* footer*/
 footer{
  height: 90vh;
 }
 .footer{      
  display: flex;
  flex-direction: column;    
  align-items: center;    
}
.inform{
  display: flex;
  justify-content: space-around;    
  align-items: center;
  margin-bottom: 100px;
  width: 100%; 
}
.registration{
  width: 60%;
}
.registration > h2{
  font-size: 6.4rem;
  text-align: center;
  margin: 0;
  margin-bottom: 5%;
  }  
.map{
  width: 760px;  
  height: 640px;
  text-align: center;
  border: 1px solid #38363640;
}
.map iframe{
  min-height: 100%; 
  min-width: 100%; 
}
.contact a{
  color: #000000;
  font-size: 3rem;
  font-weight: 600;
}
form{
  display: flex;
  justify-content: space-between;
  width: 90%;     
}
.form input{
  width: 45%;
  height: 80px;
  margin: 0 5% 0;
  font-size: 3.6rem; 
}
.form textarea{
  font-size: 3.6rem;
} 
.form input ::placeholder{
  text-align: left;
  background-color: #FFFFFF;
}
.form textarea{
  width:100%;
  height: 300px;
  margin: 4% 5% 4%;
  background-color: #FFFFFF; 
}  
.contact{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 3rem;
  font-weight: 600;
  background-color: #FFFFFF; 
}
.contact > div{
 width: 33%;
}
.contact a{
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
}
.mail{ 
  margin-left: 0;
  margin-right: 80px; 
  text-align: center;
  height: 100%;   
}
.mail span{
  font-size: 3.6rem;
  font-weight: 800;
}
.open{  
  text-align: center; 
}
.open b{
  margin-bottom: 40px;
  font-size: 3.6rem;
  font-weight: 800;
}
.social{
  display: flex;
  flex-direction: column;  
  text-align: center;
}
.social b{
  font-size: 3.6rem;
  font-weight: 800;
}
.social span{
 color: #FFFFFF;   
}
 
