body{
  margin: 0;
}
.box{
background-color: black;
min-height: 100vh;
header{
  height: 15vh;
}
nav{
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 3%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.8rem;
  .header_nav_span{
    font-size: 6rem;
  }

  a{
    text-decoration: none;
  }
  .header_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li{
      width: 70px;
      height: 40px;
      margin-left: 20%;
      margin-right: 20%;
    }
    
  }
  .nav_btn{
    color: white;
    border: 2px solid white;
    width: 240px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title_white{
    color: white;
  }
}
.animation{
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .animation_left{
    margin-left: 3%;
   width: 50%;
    color: white;
    >*{
      margin-bottom: 1.8rem;
    }
    .title_white{
      color: white;
    }
    align-items: center;
    .animation_left_title{
      font-size: 6rem;
      font-weight: 900;
      color: blue;
      transform: translateX(-100vh);
      animation: animationleft 1s linear 1 forwards;
    }
    .animation_left_subtitle{
      font-size: 4.5rem;
      transform: translateX(-100vh);
      animation: animationleft 1.3s linear 1 forwards;
    }
    .animation_left_btn{
      width: 300px;
      height: 100px;      
      background-color: blue;
      color: white;
      border-radius: 150px;
      font-size: 2rem;
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-100vh);
      animation: animationleft 1.5s linear 1 forwards;
    }
  }
  .animation_right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatex(100vh);
    animation: animationright 1.5s linear 1 forwards;
    img{ 
      width: 100%;
    }
  }
}
}
@keyframes animationleft{
  from{
    transform: translateX(-100vh);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes animationright{
  from{
    transform: translatex(100vh);
  }
  to{
    transform: translatex(0);
  }
}

