body {
  margin: 0;
}

.box {
  background-color: black;
  min-height: 100vh;
}
.box header {
  height: 15vh;
}
.box nav {
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
}
.box nav .header_nav_span {
  font-size: 6rem;
}
.box nav a {
  text-decoration: none;
}
.box nav .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box nav .header_nav li {
  width: 70px;
  height: 40px;
  margin-left: 20%;
  margin-right: 20%;
}
.box nav .nav_btn {
  color: white;
  border: 2px solid white;
  width: 240px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box nav .title_white {
  color: white;
}
.box .animation {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box .animation .animation_left {
  margin-left: 3%;
  width: 50%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box .animation .animation_left > * {
  margin-bottom: 1.8rem;
}
.box .animation .animation_left .title_white {
  color: white;
}
.box .animation .animation_left .animation_left_title {
  font-size: 6rem;
  font-weight: 900;
  color: blue;
  -webkit-transform: translateX(-100vh);
          transform: translateX(-100vh);
  -webkit-animation: animationleft 1s linear 1 forwards;
          animation: animationleft 1s linear 1 forwards;
}
.box .animation .animation_left .animation_left_subtitle {
  font-size: 4.5rem;
  -webkit-transform: translateX(-100vh);
          transform: translateX(-100vh);
  -webkit-animation: animationleft 1.3s linear 1 forwards;
          animation: animationleft 1.3s linear 1 forwards;
}
.box .animation .animation_left .animation_left_btn {
  width: 300px;
  height: 100px;
  background-color: blue;
  color: white;
  border-radius: 150px;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100vh);
          transform: translateX(-100vh);
  -webkit-animation: animationleft 1.5s linear 1 forwards;
          animation: animationleft 1.5s linear 1 forwards;
}
.box .animation .animation_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translatex(100vh);
          transform: translatex(100vh);
  -webkit-animation: animationright 1.5s linear 1 forwards;
          animation: animationright 1.5s linear 1 forwards;
}
.box .animation .animation_right img {
  width: 100%;
}

@-webkit-keyframes animationleft {
  from {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animationleft {
  from {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes animationright {
  from {
    -webkit-transform: translatex(100vh);
            transform: translatex(100vh);
  }
  to {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}
@keyframes animationright {
  from {
    -webkit-transform: translatex(100vh);
            transform: translatex(100vh);
  }
  to {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}