body {   
    background: #212529;    
  }
  .wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;    
  }
  .wrapper a{
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
  }  
  .container{
    max-height: 1500px;
    margin: 0px auto;
  }     
  .navi_row{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;    
  }
  .navi_logo{
    flex: 0 0 auto;
  }  
  .navi_bodi_ul{
    display: flex;
    justify-content: space-between; 
  }
  .navi_bodi_ul li{
    width: 70px;
    height: 27px;
  }
  .navi_bodi li:hover{
    color: #FFB742;
  }
  .avatar a:hover{
    color: #FFB742;
  }
  .button{
    width: 130px;
    height: 60px;    
    background-color: #7B7B7B;
    border-radius: 50px;
  }
  .button:hover{
    background-color: #FFB742;
  }
  .button p{
    text-align: center;
    padding: 3px 30px;
  }
  .content{
   flex: 1 1 auto; 
  }
  .avatar{
    text-align: center;
    color: #FFFFFF;    
  }
  .avatar img{
    margin: 50px auto;
  }
  .avatar h2{
    font-size: 32px
  }
  .avatar h1{
    font-size: 48px;
  }
  .avatar p{
    font-size: 24px;
  }
  .avatar_btn{
  display: flex;
  justify-content: space-between;
  }
  .btn{
    background-color: #292B2E;
    width: 416px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
  }
  .btn:hover{
  background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);

  }
  .btn_emb{
    width: 15px;
    height: 0px;
    padding: 40px 30px;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin: auto 5px;
  }
  .btn_emb img{
    padding: 5px ;
    position: relative;
    top: -25px;
    left: -18px;
  }
  .text{
    font-size: 16px;
  }
  .text h2{
   color: #FFB742; 
   text-align: center;   
  }
  .text p{
    color: #FFFFFF;
  }
  .arrow{
    width: 5px;
    height: 5px;
    position: relative;
    top: 53px;
    right: 21px;
  }
  .who{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 150px 150px 0px 150px;
    height: 630px;
  }
  .mask{   
    height: 50%;   
  }
  .scrin img{
    position: relative;
    bottom: 440px;
    right: 24px;
  }
  .img{  
    height: 145%;   
  }
  .img>img{
    height: 100%;
  }
  .about_me{
    margin-bottom: 10px;
    height: 54%;
  }
  .btn_i_am{
    width: 130px;
    height: 50px; 
    text-align: center;   
    background-color: #FFFFFF14;   
    border-radius: 50px;    
  }
  .btn_i_am p{
    color: #FFB742;
    padding: 20px 0px 0px 0px;
  }
  .btn_skills p{
    width: 130px;
    height: 34px;
    padding: 20px 12px 0px 3px; 
    text-align: center;
    background-color: #383E45;
    color: #FFB742;
    border-radius: 50px;
  }
  .who_button{
    width: 130px;
    height: 50px;    
    background-color: #7B7B7B;
    border-radius: 50px;
    margin: 30px 0px 50px 0px;    
  }
  .who_button:hover{
    background-color: #FFB742;
  }
  .who_button p{
    text-align: center;
    padding: 16px 30px; 
  }
  .who h2{
    font-size: 48px;
    color: #FFFFFF;    
  }
  .skills_title{
    margin: 30px 0px 40px 0px;
  }
  .skills_title h2{
    color: #FFFFFF;
  }
  .skills{
    display: flex;
   justify-content: space-around;
  } 
  .icons img{
    width: 63px;
    height: 63px;
    background-color: #383E45;
    border-radius: 5px;
  }
  .icons img:hover{
    background-color: #FFB742;
  }
  .line img{
   padding: 15px;
  }  
  .btn_works{    
    width: 140px;
    height: 50px;    
    background-color:#383E45;
    border-radius: 50px; 
    margin: 0 auto;  
  } 
  .btn_works p{
    text-align: center;
    padding: 14px 30px;
    color: #FFB742;
    font-size: 20px;
  }
  .navi_works ul{
    display: flex;
    list-style: none;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    padding: 25px 30px 30px;    
  }
  .navi_works li:hover{
    background-color: #FFB742;
  }
  .navi_works li{
    width: 150px;
    height: 30px;
    padding: 10px 0px 0px 0px;
    margin: auto;
  }  
  .works h2{
   color: #FFFFFF;
   font-size: 48px;
   text-align: center;   
  } 
  .baner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .column_ban{
    height: 30%;
  }
  .column_ban img{
    height: 100%;
    padding:  15px 10px;    
  }
  .works{
    text-align: center;    
  }
  .bloc{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
  .test_btn{
    width: 200px;
    height: 50px;
    background-color: #383E45;
    border-radius: 50px;
    margin: 100px auto 5px;
  }
  .test_btn p{
    text-align: center;
    padding: 10px 30px; 
    color: #FFB742;
    font-size: 24px;
  } 
  .test_title h2{
    text-align: center;
    margin: 40px auto 90px;
    font-size: 45px;
    color: #FFFFFF;
  } 
  .review{    
    background-color: #FFFFFF;    
    padding: 30px;
    border-radius: 15px;
    height: 455px; 
    width: 410px;  
  } 
   .review{
    
    
   }
  .review p{
    font-size: 20px;
    line-height: 50px;
  }
  .wor_card img{
    width: 100px;
    height: 100px;
    padding: 20px;
  }
  .name{
    padding: 17px 10px;
  }    
  .wor_card{
   display: flex;  
   justify-content: space-between; 
   padding: 20px 30px;
  }
  .footer{
    background-color: #1C1C1C;    
  }  
  .footer_row{
    display: flex;
    height: 470px;
    justify-content: space-around;
    align-items: flex-start;    
  }
  .developer{
    color: aliceblue;
  }
  .developer_title h3{
    font-size: 36px;    
  }
  .developer h3:hover{
    color: #FFB742;
  }
  .developer_text{}
  .links{
    color: aliceblue;
  }  
 .social{
  color: aliceblue;
 }
 .social a:hover{
  color: #FFB742;
 }
 .social_title h4{
  font-size: 22px;
 }
 .social_list a{
  color: #7B7B7B;
 }
 .news{
  color: aliceblue;
 }
 .news_title h4{
  font-size: 22px;
 }
 .news_text{
  color: #7B7B7B;
 } 