.body{
    background-color: rgb(8, 0, 0);
    width: 405px;
    height: 490px;
    margin: auto; 
    text-align: center;   
    }
    .round{
        padding: 20px ;
        margin: auto;
    } 
.title{
    text-align: center;
   color: aliceblue;
   font-size: 50px;
   padding: 10px;
   margin: 10px auto;     
}
.title a{
    color: aliceblue;
    text-decoration: none;   
}
.button{
   border: solid 3px; 
   width: 300px;
   height: 50px;
  border-color: rgb(252, 253, 253);
   margin: 20px auto 15px;
}
.button a{
   position: relative;
   top: 15px;
    margin: auto;
}