@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Marcellus+SC&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap");
*{
    margin: 0px;
    padding: 0px;
}
body{
   margin-left: auto;
   margin-right: auto;
   max-width: 1000px;
   min-height: 700px;
   font-family: "Roboto", serif;
}
header{
    margin: 30px auto;
    padding: 0px;
}

.header_title{
 text-align: center; 
 font-family: "M PLUS 1", sans-serif;
 font-weight: 400;
 font-size: 36px;
 text-transform: uppercase;
 line-height: 78px;
 letter-spacing: 0.1em;
 margin-top: 15px;
}
.title_blue{
    color: #3e45e8;    
}
.title_yellow{
    color: #e8c23e;
}
.baner{
    background-image: url(../img/фонове\ зображення.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 53vw;
    min-height: 400px;
    max-height: 537px;    
}
.prapor{
position: relative;
width: 2%;
height: 40%;
top: 20%;
left: 5%;
}
.text_baher {
position: relative;
bottom: 115px;
left: 60px;px;
color: aliceblue;
font-size: 40px;
font-weight: 500;
line-height: 75px;
margin: 0px 0px 0px 35px;
}
.flag{
    position: relative;
   top:   0px;
}
.title{
    font-size: 38px;
    margin-top: 55px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    left: 60px;   
    font-weight: 700;
}
.item_box{    
   display: flex;
   align-items: center;
   justify-content: space-between;
      
}
.item{
    width: 270px;    
    border: 7px solid  rgb(4, 4, 119);
    box-shadow: -20px 20px 80px -9px rgb(57, 190, 223);    
    border-radius: 30px;
    padding: 1px;
    margin: 35px;     
}
.item h3{
    color: #0072DB;
    font-size: 18px;
    padding: 10px 15px;    
}
.item p{
    font-size: 14px;
    padding: 15px 0px 20px 8px;
    color: #FF9900;    
}
.item img{
    width: 100%;
      
}
.text{
    width: 555px;
    height: 50px;
    position: relative;
    left: 245px;
    font-size: 40px;
    font-weight: 900;
    padding: 50px 0px 15px 0px;
    text-align: center;
    border-bottom: 7px solid blue;
}
.karta{ 
    padding: 100px 0px 50px 0px;
    width: 80%;
    margin: 0 auto; 
}
.karta img{
width: 100%;
}
.button{
   width: 300px; 
   height: 50px;
   background-color: #2A61F0;
   border-radius: 50px;
  margin: auto ;
   font-size: 36px;
   font-weight: 700;
   color: white;
   text-align: center;   
} 
.button p{
    padding: 5px 0px;
}
.button:hover {
    background-color: #003d83;
  }
a{
    text-decoration: none;
}
.footer{
    width: 99%;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    padding-bottom: 20px;
    margin: 50px 0px 0px 20px;
}
.footer h3{
    text-align: center;    
    padding: 33px 0px 0px 0px;    
  font-size: 36px;
  font-weight: 400;
  
}
.adress{
    text-align: center;
    font-family: "Marcellus SC", serif;
  font-size: 26px;
     
}
a{
    color: #a89d9d; 
}
.social img{
    padding: 15px;

}
