@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-size: 20px;
  --color-text-item: #202846
}

body {
  margin: 0;
  background: #FBE4FF;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 0px auto;

}

.header-top {
  background-color: #243B93;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.header-top__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 76%;
}

.header-top__nav a {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
}

.text {
  background-color: #BFF0FF;
  font-weight: 400;
}

.text h2 {
  font-weight: 400;
  margin: 0;
  font-size: 1.9rem;
  font-style: italic;
  padding: 1rem 0;
  height: 40px;
}

.title {
  background-color: #FFFFFF;
  padding: 0.4rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  position: relative;
}

.title::after {
  content: url(../imag/стрілка.svg);
  position: absolute;
  right: 0.7rem;
  top: 13px;
}

.item {
  background-color: #A9CBD6;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  position: relative;
  margin-bottom: 1.5rem;
  transition: all 1s;
}

.item>.item-img {
  width: 30%;
}

.item-img>img {
  width: 100%;
  padding-top: 17px;
}

.item>.item-description {
  width: 50%;
}

.item-description__title {
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  border-bottom: 3px solid white;
  color: var(--color-text-item);
}

.item .item-description__text {
  background-color: #EDFBFF;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  margin-top: 1rem;
}

.item.item-description__text {
  background-color: #EDFBFF;
}

.item .star,
.item .button {
  position: absolute;
}

.item .button {
  display: inline-block;
  bottom: 7px;
  right: -50px;
  background-color: #243B93;
  color: white;
  width: 200px;
  height: 20px;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
}

.item .star {
  right: 13px;
  top: 7px;
}

.up_btn {
  position: absolute;
  right: 2%;
  bottom: 4%;
}

.item:hover {
  background-color: #01AFE6;
  box-shadow: 0px 0px 100px 10px rgba(44, 189, 235, 1);
  bac
}

.item:hover .star path {
  fill: #FFF500;
}

.item:hover .button {
  background-color: #EF075B;
}

.container2 {
  width: 100%;
  position: absolute;
  left: 20%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_personal-area {
  background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
  margin: 30px 0;
  width: 100%;
}


.footer_personal-area h3 {
  position: relative;
  left: 18%;
  color: #243B93;
  font-weight: 400;
  margin: 0;
  font-size: 1.7rem;
  font-style: italic;
  padding: 1rem 0;
  height: 40px;
}

.footer_card {
  background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
  width: 75%;
  height: 300px;
  display: inline-flex;
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
}

.footer_personal-area .button {
  position: absolute;
  margin: 0;
}

.footer_card img {
  width: 160px;
  height: 160px;
}

.footer_card .button {
  display: flex;
  justify-items: center;
  bottom: 7px;
  right: -50px;
  background-color: #243B93;
  color: white;
  width: 200px;
  height: 20px;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  margin: 8px;
}

.footer_card-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_card-neim>li {
  border-bottom: 3px solid white;
}

.card1:hover .button {
  background-color: #EF075B; 
}
.card2:hover .button {
  background-color: #EF075B; 
}
.exit:hover .button {
  background-color: #EF075B; 
}
.footer_card-neim li{
  text-align: left;
}

.exit .button {
  display: flex;
  justify-items: center;
  bottom: 7px;
  right: -50px;
  background-color: #243B93;
  color: white;
  width: 200px;
  height: 20px;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
}

.footer_contact-title {
  background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
  margin: 30px 0;
  width: 100%;
}

.footer_contact-title>h3 {
  position: relative;
  left: 15%;
  color: #243B93;
  font-weight: 400;
  margin: 0;
  font-size: 1.7rem;
  font-style: italic;
  padding: 1rem 0;
  height: 40px
}
.container_address{
width: 90%;
height: 250px;
display: flex;
justify-content: space-around;

}
.address{
  height: 190px;
 display: flex;
 justify-content: space-around;
}
.address > li{
  display: flex;
  flex-wrap: wrap;
 
}
li{
  padding: 10px;
}
.map{
  border: 7px; 
  border-color:#243B93;
}
.map > iframe{
  width: 400px;
height: 220px; 
border-radius: 25px;
}
.footer_row{
background-color: #243B93;
display: flex;
width: 100%;
justify-content: center;
}
.footer_text{
font-size: 9px;
color: #FFFFFF;
font-family: PT Sans;
}